<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <div (click)="goBack()">
            <ion-icon color="light" style="font-size: 30px; vertical-align: middle; display: inline-block;" name="arrow-back-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" style="text-align:center;">
          <ion-text color="light" class="text">
            About
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-note color="dark" style="text-align: center;">
    <h2 style="font-size: 30px;">Open source libraries</h2>
  </ion-note>
  <br>
  <div style="text-align: left; margin-left: 20px; margin-right: 15px;">
    <ion-note color="dark">
      <span style="font-size: 25px;">Ionic Framework</span>
    </ion-note>
    <p style="font-size: 15px;">
      Ionic Framework is an open source UI toolkit for building performant, high-quality mobile and desktop apps using web technologies HTML, CSS, and JavaScript with integrations for popular frameworks like Angular, React, and Vue.
    </p>
    <p style="font-size: 19px;">Overview</p>
    <p style="font-size: 15px;">
      Ionic Framework focuses on the frontend UX and UI interaction of an app — UI controls, interactions, gestures, animations. It's easy to learn, and integrates with other libraries or frameworks, such as Angular, React, or Vue. Alternatively, it can be used standalone without any frontend framework using a simple script include. If you’d like to learn more about Ionic Framework before diving in, we created a video to walk you through the basics.
    </p>
    <p style="font-size: 19px;">One codebase, running everywhere</p>
    <p style="font-size: 15px;">
      Ionic is the only mobile app stack that enables web developers to build apps for all major app stores and the mobile web from a single codebase. And with Adaptive Styling, Ionic apps look and feel at home on every device.
    </p>
    <p style="font-size: 19px;">A focus on performance</p>
    <p style="font-size: 15px;">
      Ionic is built to perform and behave great on the latest mobile devices with best practices like efficient hardware accelerated transitions, and touch-optimized gestures.
    </p>
    <p style="font-size: 19px;">Cross-platform</p>
    <p style="font-size: 15px;">
      Build and deploy apps that work across multiple platforms, such as native iOS, Android, desktop, and the web as a Progressive Web App - all with one code base. Write once, run anywhere.
    </p>
    <p style="font-size: 19px;">Angular</p>
    <p style="font-size: 15px;">
      Angular has always been at the center of what makes Ionic great. While the core components have been written to work as a standalone Web Component library, the @ionic/angular package makes integration with the Angular ecosystem a breeze. @ionic/angular includes all the functionality that Angular developers would expect coming from Ionic 2/3, and integrates with core Angular libraries, like the Angular router.
    </p>
    <p style="font-size: 19px;">License</p>
    <p style="font-size: 15px;">
      Ionic Framework is a free and open source project, released under the permissable MIT license. This means it can be used in personal or commercial projects for free. MIT is the same license used by such popular projects as jQuery and Ruby on Rails.
    </p>
    <p>For documentation click <a href="https://ionicframework.com/docs">here</a></p>
    <ion-item-divider></ion-item-divider>
  </div>
  <br>
  <div style="text-align: left; margin-left: 20px; margin-right: 15px;">
    <ion-note color="dark">
      <span style="font-size: 25px;">Firebase</span>
    </ion-note>
    <p style="font-size: 15px;">
      Firebase is Google's mobile platform that helps you quickly develop high-quality apps and grow your business.It was originally an independent company founded in 2011. In 2014, Google acquired the platform and it is now their flagship offering for app development
    </p>
    <p style="font-size: 19px;">
      Build apps fast, without managing infrastructure
    </p>
    <p style="font-size: 15px;">
      Firebase gives you functionality like analytics, databases, messaging and crash reporting so you can move quickly and focus on your users.
    </p>
    <p style="font-size: 19px;">
      Backed by Google, trusted by top apps
    </p>
    <p style="font-size: 15px;">
      Firebase is built on Google infrastructure and scales automatically, for even the largest apps.
    </p>
    <p style="font-size: 19px;">
      One platform, with products that work better together
    </p>
    <p style="font-size: 15px;">
      Firebase products work great individually but share data and insights, so they work even better together.
    </p>
    <p>For documentation click <a href="https://firebase.google.com/?gclid=Cj0KCQiAwf39BRCCARIsALXWETxEQaghQxF07cTYLzTD06S83SD1aKv96cwuIzewyR7fDRQDq2VSx9IaAqBLEALw_wcB">here</a></p>
    <ion-item-divider></ion-item-divider>
  </div>
  <br>
  <div style="text-align: left; margin-left: 20px; margin-right: 15px;">
    <ion-note color="dark">
      <span style="font-size: 25px;">Uploadcare</span>
    </ion-note>
    <p style="font-size: 15px;">
      Uploadcare is an end-to-end file platform, fast and secure.We cover the complete media pipeline.
    </p>
    <p style="font-size: 19px;">
      Uploads
    </p>
    <p style="font-size: 15px;">
      You can upload files right in a browser on any device. Your local storage, social media or a cloud can be a source for those uploads.
    </p>
    <p style="font-size: 15px;">
      File Uploader works as a simple form element and lets you upload any file types including images, videos, PDFs, and other documents. We support files of up to 5TB in size and ensure their reliable and fast uploading with our distributed uploads network.
    </p>
    <p style="font-size: 19px;">
      Storage
    </p>
    <p style="font-size: 15px;">
      All uploads go to our storage, and you receive unique file identifiers (UUIDs).
      Our demo account stores files for 24 hours, because to keep files until they're explicitly removed you should store them. You can use autostore feature for your project in project settings, or set it explicitly while uploading with Upload API, or change it by making a request to our REST API.
    </p>
    <p>For documentation click <a href="https://uploadcare.com/docs/">here</a></p>
  </div>
  <ion-note color="dark" style="text-align: start;">
    <h2 style="font-size: 17px;margin-left: 20px;">To visit my official website click <a href="https://harish-2k20.web.app/">here</a></h2>
  </ion-note>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" href="https://github.com/Harish1606">
      <ion-icon name="logo-github" style="font-size: 28px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
