<ion-header>
  <ion-toolbar color="primary"> 
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <div (click)="goBack()">
            <ion-icon color="light" style="font-size: 30px; vertical-align: middle; display: inline-block;" name="arrow-back-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="7" style="text-align: start;">
          <ion-text color="light" class="text">
            Edit profile
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-loading *ngIf="busy"></app-loading>

  <div *ngIf="!busy">
  <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)">

  <div>
    <ion-avatar style=" display: block; margin-left:auto;margin-right: auto; width: 50%; height: 100%;">
      <ion-img (click)="updateProfilePic()" src="https://ucarecdn.com/{{userData?.profilePic}}/-/scale_crop/150x150/center/"></ion-img>
    </ion-avatar>
  </div>
  <div class="profile-info">
    <ion-item>
      <ion-label position="floating">
        Username
      </ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Bio 
      </ion-label>
      <ion-input [(ngModel)]="bio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        New password
      </ion-label>
      <ion-input [(ngModel)]="newpassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Old password <span><ion-note style="font-size: 22px;" color="danger">*</ion-note></span>
      </ion-label>
      <ion-input [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button style="margin-top: 6%;" class="button" expand="block" color="primary" fill="outline" [disabled]="password.trim().length==0" (click)="updateDetails()">Save</ion-button>
  </div>
  </div>

</ion-content>
