<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Delivery Address</b></ion-card-title>
    </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="floating">
            Name <span><ion-note style="font-size: 22px;" color="danger">*</ion-note></span>
          </ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Email <span><ion-note style="font-size: 22px;" color="danger">*</ion-note></span>
          </ion-label>
          <ion-input type="text" [(ngModel)]="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Address <span><ion-note style="font-size: 22px;" color="danger">*</ion-note></span>
          </ion-label>
          <ion-input type="text" [(ngModel)]="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">
            Phone Number <span><ion-note style="font-size: 22px;" color="danger">*</ion-note></span>
          </ion-label>
          <ion-input type="text" [(ngModel)]="number"></ion-input>
        </ion-item>
      </ion-list>
  </ion-card>
  <br>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title><b>Order Summary</b></ion-card-title>
    </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let product of products">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-thumbnail style="height: 45px; width: 45px;">
                  <img src="https://ucarecdn.com/{{product.uid}}/-/scale_crop/200x200/center/">
                </ion-thumbnail>
              </ion-col>
              <ion-col size="7">
                <ion-label>
                  <h2><b>&nbsp;{{product.name}}</b></h2>
                </ion-label>
              </ion-col>
              <ion-col size="3">
                <ion-label>
                  <h2><b class="price">{{product.price | currency:"INR"}}</b></h2>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <ion-icon name="information-circle-outline" style="font-size: 27px;margin-top: 5px;" color="medium"></ion-icon>
              </ion-col>
              <ion-col size="6">
                <h4 style="margin-top: 5px;">&nbsp;Total: <b class="price">{{total | currency:"INR"}}</b></h4>
              </ion-col>
              <ion-col size="5">
                <ion-button color="primary" shape="round" [disabled]="name.trim().length==0 || email.trim().length==0 || address.trim().length==0 || number.trim().length==0" (click)="confirmOrder()">PROCEED<ion-icon name="arrow-forward-outline" style="font-size: 20px;"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
  </ion-card>
</ion-content>
