.message{
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
    white-space: pre-wrap;
}

.my-message{
    background-color: lightblue;
    color: black;
}

.other-message{
    background-color:lightblue;
    color:black;
}

.text{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}