.icon{
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
}
   
.icon1{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
   
.icon2{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
   
.text{
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}

.ic{
    font-size: 25px;
}
