<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <div (click)="goBack()">
            <ion-icon color="light" style="font-size: 30px; vertical-align: middle; display: inline-block;" name="arrow-back-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="3" style="text-align: center;">
          <ion-text color="light" class="text">
            Following
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-segment style="margin-top: 10px;">
  <ion-searchbar #search (ionChange)="searchUsers($event)"></ion-searchbar>
</ion-segment>

<ion-content>
  <div *ngIf="busy">
    <ion-list>
      <ion-item *ngFor="let f of following">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-avatar style="height: 40px; width: 40px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
            </ion-col>
            <ion-col size="6">
              <ion-label>
                <h2><ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text></h2>
                <p><ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text></p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label>
                <ion-button expand="block" color="medium" fill="outline"><ion-skeleton-text animated></ion-skeleton-text></ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="!busy">
    <ion-list>
      <ion-item *ngFor="let f of searchedItem">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-avatar style="height: 40px; width: 40px;" (click)="goToProfile(f.uid)">
                <img src="https://ucarecdn.com/{{f.profilePic}}/-/scale_crop/200x200/center/">
              </ion-avatar>
            </ion-col>
            <ion-col size="6">
              <ion-label (click)="goToProfile(f.uid)">
                <h2>{{f.name}}</h2>
                <p>{{f.bio}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label>
                <ion-button expand="block" color="primary" fill="outline" (click)="toggle(f.uid)">{{f.follow}}</ion-button>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
