<ion-header>
  <ion-toolbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="1" style="font-size: 30px; vertical-align: middle; display: inline-block; margin-top: 9px;">
            <div (click)="goBack()">
              <ion-icon color="light" name="arrow-back-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="11" style="vertical-align: middle; display: inline-block;">
            <ion-searchbar #search (ionChange)="searchUsers($event)"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="busy">
  <ion-list>
    <ion-item *ngFor="let user of searchedItem">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </h2>
        <p><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
  </div>

  <div *ngIf="!busy">
    <ion-list>
      <ion-item *ngFor="let user of searchedItem" (click)="goTo(user.uid)">
        <ion-avatar slot="start">
          <img src="https://ucarecdn.com/{{user.profilePic}}/-/scale_crop/200x200/center/">
        </ion-avatar>
        <ion-label>
          <h2>
            <b>{{user.username}}</b>
          </h2>
          <p>{{user.bio}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
