.text{
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
}

.price{
    color: var(--ion-color-danger);
    font-weight: 500;
    font-size: 18px;
}

.price1{
    color: var(--ion-color-danger);
    font-weight: 500;
    font-size: 22px;
}